<!--<html>-->
<!--   <head>-->
<!--      <title>line chart with ChartJS</title>-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      <script type="text/javascript" src="https://rawgit.com/nnnick/Chart.js/v1.0.2/Chart.min.js"></script>-->
<!--      <style id="compiled-css" type="text/css">-->

<!--.chartWrapper {/* w w w. j a v  a2 s.co  m*/-->
<!--   position: relative;-->
<!--}-->
<!--.chartWrapper > canvas {-->
<!--   position: absolute;-->
<!--   left: 0;-->
<!--   top: 0;-->
<!--   pointer-events:none;-->
<!--}-->
<!--.chartAreaWrapper {-->
<!--   width: 1200px;-->
<!--   overflow-x: scroll;-->
<!--}-->
<!--      </style>-->
<!--      <script type="text/javascript">-->
<!--    window.onload=function(){-->
<!--        var ctx = document.getElementById("myChart").getContext("2d");-->
<!--        var data = {-->
<!--            labels: {{dt|safe}},-->
<!--            datasets: [-->
<!--                {-->
<!--                    label: "Price",-->
<!--                    fillColor: "rgba(220,220,220,0.2)",-->
<!--                    strokeColor: "rgba(220,220,220,1)",-->
<!--                    pointColor: "rgba(220,220,220,1)",-->
<!--                    pointStrokeColor: "#fff",-->
<!--                    pointHighlightFill: "#fff",-->
<!--                    pointHighlightStroke: "rgba(220,220,220,1)",-->
<!--                    data: {{close}}-->
<!--                },-->
<!--                {-->
<!--                    label: "Seasonality",-->
<!--                    fillColor: "rgba(151,187,205,0.2)",-->
<!--                    strokeColor: "rgba(151,187,205,1)",-->
<!--                    pointColor: "rgba(151,187,205,1)",-->
<!--                    pointStrokeColor: "#fff",-->
<!--                    pointHighlightFill: "#fff",-->
<!--                    pointHighlightStroke: "rgba(151,187,205,1)",-->
<!--                    data: {{seasonality}}-->
<!--                }-->
<!--            ]-->
<!--        };-->
<!--        new Chart(ctx).Line(data, {'animation': false});-->
<!--    }-->

<!--      </script>-->
<!--   </head>-->
<!--   <body>-->
<!--      <div class="chartWrapper">-->
<!--         <div class="chartAreaWrapper">-->
<!--            <canvas id="myChart" height="500" width="1200"></canvas>-->
<!--         </div>-->
<!--         <canvas id="myChartAxis" height="500" width="0"></canvas>-->
<!--      </div>-->
<!--   </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IW Test case</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
</head>
<body>
    <canvas id="myChart" style="width:200%;max-width:1200px"></canvas>
    <script>
        var xValues = {{dt|safe}};

        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              data: {{close}},
              borderColor: "red",
              pointRadius: 0,
              fill: false
            },
        {
              data: {{seasonality}},
              borderColor: "blue",
              pointRadius: 0,
              fill: false
            }]
          },
          options: {
            legend: {display: false}
          }
        });
    </script>
</body>
</html>